<footer id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <form class="card my-4">
                    <div class="card-body">
                        <div class="form-group">
                            <input type="text" placeholder="Name" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="email" placeholder="Email" class="form-control">
                        </div>
                        <div class="form-group">
                            <textarea placeholder="Your message..." class="form-control" cols="30" rows="10"></textarea>
                        </div>
                        <button type="submit" class="btn btn-outline-secondary btn-block">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</footer>