<!-- HEADER -->

<header id="header">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <div class="header-content-right">
                    <h1>Lorem, ipsum dolor.</h1>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum iste ducimus exercitationem cum
                        repellendus voluptates quibusdam officiis provident doloremque enim aperiam, dolores architecto
                        voluptate cupiditate aut magni fugit error optio!
                    </p>
                    <a href="#" class="btn btn-outline-secondary btn-lg mt-2 header-btn">More..</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="header-content-left mt-2">
                    <img src="static/img/banana.jpg" style="width: 100%;">
                </div>
            </div>
        </div>
    </div>
</header>