<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>playing with webpack, sass, bs4, js</title>
</head>
<body>
    {{> partials/nav }}
    {{> partials/header }}

    <section id="testimonial" class="fondiu">
        <div class="container">
            <p class="h3 mb-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit, adipisci.</p>
            <p class="h4"> - Fulano de tal</p>
        </div>
    </section>

    <!-- INFORMATION-->

    <section id="information">
        <div class="container">
            <div class="row mt-5">
                <div class="col-md-6">
                    <div class="info-left">
                        <img src="static/img/banana.jpg" alt="bananas"
                            style="width: 100%;">
                    </div>
                </div>
                <div class="col-md-6 my-auto">
                    <div class="info-right">
                        <h2>Lorem ipsum dolor sit.</h2>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et autem nulla accusamus, animi sint
                            praesentium illo veniam neque. Sed aliquid quam maxime nisi laudantium quisquam illum delectus
                            consequatur quasi mollitia!</p>
                        <a href="#" class="btn btn-outline-secondary btn-lg">More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="fondiu">
        <div class="container">
            <div class="row my-5">
                <div class="col-md-6">
                    <h2>Lorem, ipsum dolor.</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae error temporibus atque iusto eligendi
                        aliquid rem tempore dolorem tempora eos. Quas sapiente tenetur optio numquam quidem nihil id quis
                        dicta.</p>
                </div>
                <div class="col-md-6">
                    <h2>Lorem, ipsum dolor.</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi corporis sint quaerat quod at quidem
                        ipsa quo, eveniet nemo nulla delectus sunt? Quidem neque odit doloremque, itaque minima quasi earum.
                    </p>
                </div>
            </div>
        </div>
    </section>

    {{> partials/footer }}
</body>
</html>